<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.pde.PdeModel"
            dialog="org.eclipse.epsilon.emc.pde.dt.PdeModelConfigurationDialog"
            icon="images/plugin.gif"
            label="Eclipse Plugin Model"
            stable="false"
            type="PDE">
      </modelType>
   </extension>

</plugin>
