<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            constraints="validation/ewechecker.evl"
            namespaceURI="ewe">
      </constraintsBinding>
   </extension>

</plugin>
