<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.etl.dtx.editor.EtlxEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="etl"
            id="org.eclipse.epsilon.etl.dtx.editor.EtlEditor"
            name="Epsilon Transformation Language Editor X">
      </editor>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.moduleValidator">
      <moduleValidator
            class="org.eclipse.epsilon.etl.dtx.validator.EtlxModuleValidator">
      </moduleValidator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.epsilon.etl.dtx.category"
            name="ETLExtension">
      </category>
      <view
            category="org.eclipse.epsilon.etl.dtx.category"
            class="org.eclipse.epsilon.etl.dtx.TransformationDependencyGraph"
            id="org.eclipse.epsilon.etl.dtx.transformation.dependency"
            name="Transformation Dependency"
            restorable="true">
      </view>
   </extension>

</plugin>
