<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphml -->
      <package
            uri="http://www.eclipse.org/epsilon/emc/graphml"
            class="org.eclipse.epsilon.emc.graphml.GraphmlPackage"
            genModel="model/graphml.genmodel"/>
   </extension>

</plugin>
