<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.evl.dtx.editor.EvlxEditor"
            default="false"
            extensions="evl"
            icon="icons/eol.gif"
            id="org.eclipse.epsilon.evl.dtx.EvlEditor"
            name="Epsilon Validation Language Editor X">
      </editor>
   </extension>

</plugin>
