<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.googlecode.evisitor.contribution1"
            objectClass="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
         <menu
               id="com.googlecode.epsilonlabs.evg.menu"
               label="Visitor Generation"
               path="edit">
            <separator
                  name="group">
            </separator>
         </menu>
          <action
               class="com.googlecode.epsilonlabs.evg.EVisitorGeneratorActionDelegate"
               enablesFor="1"
               id="com.googlecode.epsilonlabs.evg.generateforceaction"
               label="Overwrite Visitor Project"
               menubarPath="com.googlecode.epsilonlabs.evg.menu/group">
         </action>
 
         <action
               class="com.googlecode.epsilonlabs.evg.EVisitorGeneratorActionDelegate"
               enablesFor="1"
               id="com.googlecode.epsilonlabs.evg.generateaction"
               label="Generate Visitor Code"
               menubarPath="com.googlecode.epsilonlabs.evg.menu/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
