<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ewe.presentation.EweModelWizardID"
            name="%_UI_EweModelWizard_label"
            class="ewe.presentation.EweModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EweModelFile.gif">
         <description>%_UI_EweModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="ewe.presentation.EweEditorID"
            name="%_UI_EweEditor_label"
            icon="icons/full/obj16/EweModelFile.gif"
            extensions="ewe"
            class="ewe.presentation.EweEditor"
            contributorClass="ewe.presentation.EweActionBarContributor">
      </editor>
   </extension>

</plugin>
