<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.incquery.IncQueryModel"
            dialog="org.eclipse.epsilon.emc.incquery.dt.IncQueryModelConfigurationDialog"
            icon="icons/incquery.png"
            label="IncQuery Model"
            stable="true"
            type="IncQuery">
      </modelType>
   </extension>

</plugin>
