<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.prettyPrinter">
      <prettyPrinter
            class="org.eclipse.epsilon.emc.metaedit.MetaEditPrettyPrinter"></prettyPrinter>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.metaedit.MetaEditModel"
            dialog="org.eclipse.epsilon.emc.metaedit.dt.MetaEditModelConfigurationDialog"
            icon="icons/metaedit.png"
            label="MetaEdit+ model"
            stable="false"
            type="MetaEdit">
      </modelType>
   </extension>

</plugin>
